@{
    ViewData["Title"] = "Home Page";
}


<!-- PAGE CONTENT -->
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <!--Learn about-->
        <a href="Tracking Progress OF Each Student" target="_blank">
            Tracking Progress OF Each Student
        </a>.
    </p>
</div>
<!-- HERO IMAGE -->
<div class="mb-5 text-center">
    <img src="~/images/education-ai-hero.jpg"
         alt="Transforming Education at Scale"
         class="img-fluid rounded shadow-lg"
         style="max-height: 1050px;" />
</div>
